In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# Any results you write to the current directory are saved as output.

/kaggle/input/nlp-getting-started/sample_submission.csv
/kaggle/input/nlp-getting-started/test.csv
/kaggle/input/nlp-getting-started/train.csv

In [2]:
import pandas as pd
sample_submission = pd.read_csv("../input/nlp-getting-started/sample_submission.csv")
test = pd.read_csv("../input/nlp-getting-started/test.csv")
train = pd.read_csv("../input/nlp-getting-started/train.csv")

In [3]:
sample_submission

         id  target
0         0       0
1         2       0
2         3       0
3         9       0
4        11       0
...     ...     ...
3258  10861       0
3259  10865       0
3260  10868       0
3261  10874       0
3262  10875       0

[3263 rows x 2 columns]

In [4]:
train.shape

(7613, 5)

In [5]:
train.columns

Index(['id', 'keyword', 'location', 'text', 'target'], dtype='object')

In [6]:
train.head()

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1

In [7]:
test.head()

   id keyword location                                               text
0   0     NaN      NaN                 Just happened a terrible car crash
1   2     NaN      NaN  Heard about #earthquake is different cities, s...
2   3     NaN      NaN  there is a forest fire at spot pond, geese are...
3   9     NaN      NaN           Apocalypse lighting. #Spokane #wildfires
4  11     NaN      NaN      Typhoon Soudelor kills 28 in China and Taiwan

In [8]:
train.isnull().sum()

id             0
keyword       61
location    2533
text           0
target         0
dtype: int64

In [9]:
train_data = train.drop(columns=['id','keyword','location'])

In [10]:
train_data.head()

                                                text  target
0  Our Deeds are the Reason of this #earthquake M...       1
1             Forest fire near La Ronge Sask. Canada       1
2  All residents asked to 'shelter in place' are ...       1
3  13,000 people receive #wildfires evacuation or...       1
4  Just got sent this photo from Ruby #Alaska as ...       1

In [11]:
import re

def clean(dataset, col):
    dataset[col]= dataset[col].str.lower()
    dataset[col]= dataset[col].apply(lambda x:re.sub(r"(@[A-Za-z0-9]+)|([^0-9A-Za-z \t])|(\w+:\/\/\S+)|^rt|http.+?", "", x))
    return dataset

In [12]:
data_new = clean(train_data, "text")

In [13]:
data_new.head()

                                                text  target
0  our deeds are the reason of this earthquake ma...       1
1              forest fire near la ronge sask canada       1
2  all residents asked to shelter in place are be...       1
3  13000 people receive wildfires evacuation orde...       1
4  just got sent this photo from ruby alaska as s...       1

In [14]:
from nltk.corpus import stopwords
stop = stopwords.words('english')

In [15]:
data_new["text"] = data_new["text"].apply( lambda x:" ".join([word for word in x.split() if word not in stop]))

In [16]:
data_new

                                                   text  target
0          deeds reason earthquake may allah forgive us       1
1                 forest fire near la ronge sask canada       1
2     residents asked shelter place notified officer...       1
3     13000 people receive wildfires evacuation orde...       1
4     got sent photo ruby alaska smoke wildfires pou...       1
...                                                 ...     ...
7608  two giant cranes holding bridge collapse nearb...       1
7609  ahrary control wild fires california even nort...       1
7610                    m194 0104 utc5km volcano hawaii       1
7611  police investigating ebike collided car little...       1
7612  latest homes razed northern california wildfir...       1

[7613 rows x 2 columns]

In [17]:
from sklearn.model_selection import train_test_split

In [18]:
X_train, X_test, y_train, y_test = train_test_split(data_new["text"], data_new["target"], random_state=0)

In [19]:

from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.pipeline import Pipeline
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.linear_model import SGDClassifier

In [20]:
pipeline_sgd = Pipeline([
    ('vect',CountVectorizer()),
    ('tfidf', TfidfTransformer()),
    ('nb',SGDClassifier())
])


model= pipeline_sgd.fit(X_train, y_train)

In [21]:
from sklearn.metrics import classification_report

y_predict = model.predict(X_test)
print(classification_report(y_test, y_predict))

              precision    recall  f1-score   support

           0       0.80      0.85      0.83      1107
           1       0.78      0.71      0.74       797

    accuracy                           0.79      1904
   macro avg       0.79      0.78      0.78      1904
weighted avg       0.79      0.79      0.79      1904

In [22]:
test_data = test.copy()
test_data = clean(test_data, "text")
test_data["text"] = test_data["text"].apply(lambda x:" ".join([word for word in x.split() if word not in stop]))
test_data = test_data["text"]

In [23]:
test_data[:5]

0                          happened terrible car crash
1    heard earthquake different cities stay safe ev...
2    forest fire spot pond geese fleeing across str...
3                apocalypse lighting spokane wildfires
4               typhoon soudelor kills 28 china taiwan
Name: text, dtype: object

In [24]:
pred_test = model.predict(test_data)

In [25]:
id_val = test['id']
output = pd.DataFrame({'id':id_val, "target":pred_test})
output[:5]

   id  target
0   0       1
1   2       0
2   3       1
3   9       1
4  11       1

In [26]:
output.to_csv('submission.csv', index=False)